@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: #212529;
} 
.bg{
    background-color: #1e202b;

}
.normal{
    padding: 5px 25px;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.2s;
    font-size: 14px;

}
.normal:hover{
    border-radius: 30px;
    color: #009ad8;
    border-color: #009ad8
}
.active{
    color: #009ad8;
    padding: 5px 25px;
    text-decoration: none;
    border: 2px solid #009ad8;
    border-radius: 30px;
    font-size: 14px;
    text-align: left;
    

}
footer{
    background-color: 
    RGB(38, 41, 54);
    padding: 50px 0;
}
.subscribe{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #009ad8;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.fa-brands{
    text-align: center;
    color:  #009ad8;
    font-size: 1.3em;
    padding-top: 8px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1e202b;
    transition: all 0.25s ease;
    margin-right: 10px;
}
.fa-brands:hover{
    color: #fff;
    background-color:  #009ad8;
}
p.Copyright{
    color: #BFC1C8;
    font-size: 14px;
    font-weight: 300;
}